.calendar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.day {
  flex: 1;
  display: flex;
  flex-direction: row;
  border-top: 1px solid #ccc;
  min-height: 200px;
  position: relative;

  .day-label {
    width: 15%;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #f1f5f9;
    padding: 20px;
    position: relative;

    .mobile-hint {
      display: none;
    }
  }

  .day-label-number {
    font-size: 30px;
    font-weight: lighter;
    color: #333;
    margin-bottom: 5px;
  }

  .day-label-weekday {
    font-size: 14px;
    color: #777;
  }

  .day-timeline {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    .timeinterval {
      flex: 1;
      height: 100%;
      border-left: 1px solid #eee;
      position: relative;
      display: flex;
      align-items: center;
    }

    .hours-display {
      position: absolute;
      top: 20px;
      left: 0;
      display: flex;
      width: 100%;
      z-index: 10;

      .time {
        flex: 1;
        text-align: center;
        font-size: 12px;
        color: #777;

        span {
          background: white;
          padding: 5px;
        }
      }
    }
  }
}

.day:first-child {
  border-top: 0;
}

.day:not(:first-child) .day-timeline .hours-display {
  display: none;
}

.create-slot {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 14px;
  border: 0;
  background: #60a5fa;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 200ms;
  padding: 7px 10px;

  &:hover {
    background: #93c5fd;
  }
}

.drag-preview {
  cursor: grabbing;
  box-shadow: 0 10px 28px -30px black;
  border: 3px dashed #cbd5e1;
  border-radius: 8px;
}

@media (max-width: 700px) {
  .calendar {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
    scroll-snap-type: x mandatory;

    &.dragging {
      scroll-snap-type: none;
    }
  }

  .day {
    flex-direction: column;
    border-top: 0;
    scroll-snap-align: start;
    flex: 0 0 100vw;

    .day-label {
      width: 100%;
      padding: 20px 15px;

      .mobile-hint {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        bottom: 19px;
        right: 15px;
        color: #bbb;
        font-size: 13px;

        svg {
          font-size: 22px;
          margin-right: 5px;
        }
      }
    }

    .day-label-number {
      margin-bottom: 2px;
    }

    .day-timeline {
      flex-direction: column;

      .timeinterval {
        height: auto;
        width: 100%;
        border-left: 0;
        border-top: 1px solid #eee;
        align-items: initial;
        justify-content: center;
      }

      .hours-display {
        top: 0;
        left: 15px;
        width: auto;
        height: 100%;
        flex-direction: column;

        .time {
          display: flex;
          align-items: center;

          span {
            padding: 5px 0;
          }
        }
      }

      &[data-zoomlevel="2"] {
        overflow: auto;
        .timeinterval {
          min-height: 25px;
        }
      }

      &[data-zoomlevel="3"] {
        overflow: auto;
        .timeinterval {
          min-height: 50px;
        }
      }
    }
  }

  .day:not(:first-child) .day-timeline .hours-display {
    display: flex;
  }

  .create-slot {
    z-index: 200;
    left: auto;
    right: 20px;
    padding: 10px 15px;
  }

  .drag-preview {
    border-width: 3px;
  }
}
