.calendar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.day {
  flex: 1;
  display: flex;
  flex-direction: row;
  border-top: 1px solid #ccc;
  min-height: 160px;
  position: relative;
  overflow: hidden;
  // touch-action: pan-x;

  .day-label {
    width: 15%;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #f1f5f9;
    padding: 20px;
    position: relative;

    .mobile-hint {
      display: none;
    }
  }

  .day-label-number {
    font-size: 30px;
    font-weight: lighter;
    color: #333;
    margin-bottom: 5px;
  }

  .day-label-weekday {
    font-size: 14px;
    color: #777;
  }

  .day-timeline {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    // touch-action: pan-y;

    .timeinterval {
      flex: 1;
      height: 100%;
      border-left: 1px solid #eee;
      position: relative;
      display: flex;
      align-items: center;

      &.startposition:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 2px;
        height: 100%;
        background: #94a3b8;
      }

      &.endposition:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 2px;
        height: 100%;
        background: #94a3b8;
      }
    }

    .hours-display {
      position: absolute;
      top: 20px;
      left: 0;
      display: flex;
      width: 100%;
      z-index: 10;

      .time {
        flex: 1;
        text-align: center;
        font-size: 12px;
        color: #ccc;

        span {
          background: white;
          padding: 5px 0;
        }
      }
    }
  }
}

.day:first-child {
  border-top: 0;
}

.create-slot {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 14px;
  border: 0;
  background: #60a5fa;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 9px 12px;
}

@media (max-width: 700px) {
  .calendar {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
    scroll-snap-type: x mandatory;

    &.dragging {
      scroll-snap-type: none;
    }
  }

  .day {
    flex-direction: column;
    border-top: 0;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    flex: 0 0 100vw;
    overflow: initial;

    .day-label {
      width: 100%;
      flex: 0 0 60px;
      flex-direction: row;
      align-items: center;
      padding: 0 15px;

      .mobile-hint {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        bottom: 19px;
        right: 15px;
        color: #bbb;
        font-size: 13px;

        svg {
          font-size: 22px;
          margin-right: 5px;
        }
      }
    }

    .day-label-number {
      margin-bottom: 0;
      font-size: 18px;
      margin-right: 5px;
    }

    .day-label-weekday {
      font-size: 18px;
      font-weight: lighter;
      color: #999;
    }

    .day-timeline {
      flex-direction: column;
      scroll-behavior: smooth;

      .timeinterval {
        height: auto;
        width: 100%;
        border-left: 0;
        border-top: 1px solid #eee;
        align-items: initial;
        justify-content: center;

        &.startposition:before {
          top: 0;
          left: 0;
          height: 1px;
          width: 100%;
        }

        &.endposition:before {
          top: auto;
          bottom: 0;
          right: 0;
          height: 1px;
          width: 100%;
        }
      }

      .hours-display {
        top: 0;
        left: 15px;
        width: auto;
        height: 100%;
        flex-direction: column;

        .time {
          display: flex;
          align-items: center;
          color: #777;

          span {
            padding: 0 5px;
          }
        }
      }

      &[data-zoomlevel="2"] {
        overflow: auto;
        .timeinterval {
          min-height: 25px;
        }
      }

      &[data-zoomlevel="3"] {
        overflow: auto;
        .timeinterval {
          min-height: 50px;
        }
      }
    }
  }

  .day:not(:first-child) .day-timeline .hours-display {
    display: flex;
  }

  .create-slot {
    z-index: 200;
    left: auto;
    right: 20px;
    padding: 10px 15px;
    box-shadow: 0 7px 10px -12px black;
  }
}
