*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior: none;
}

html {
  height: 100%;
  user-select: none;
}

body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
