.timeslot {
  background: rgba(220, 252, 231, 0.7);
  border: 1px solid #cbd5e1;
  touch-action: none;
  position: absolute;
  left: -1px;
  bottom: 20px;
  z-index: 20;
  height: 50%;
  min-height: 50px;
  width: 100%;
  cursor: pointer;
  outline: none;
  box-shadow: 0 10px 28px -30px black;

  &.selected {
    background: rgba(134, 239, 172, 0.7);
    z-index: 50;
    box-shadow: 0 10px 28px -30px black;

    .resize-handle {
      color: #bbb;
      display: flex;
    }

    &[aria-pressed="true"] {
      background: transparent;
      border: 2px dashed #ddd;
      box-shadow: none;
      .resize-handle {
        display: none;
      }
    }
  }
}

.drag-preview {
  cursor: grabbing;
  box-shadow: 0 10px 28px -30px black;
  background: rgba(134, 239, 172, 0.7);
  border: 1px solid #cbd5e1;
  display: flex;
  align-items: center;
  justify-content: center;

  .drag-icon {
    font-size: 30px;
    color: #94a3b8;
    opacity: 0.4;
  }

  &.hidden {
    opacity: 0;
  }

  .resize-handle {
    color: #bbb;
    display: flex;
  }
}

.resize-handle {
  display: none;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 15px;
  position: absolute;
  top: calc(50% - 12.5px);
  border: 1px solid #cbd5e1;

  &[aria-pressed="true"] {
    background: #94a3b8;
    border-color: #94a3b8;
    svg {
      color: white;
    }
  }

  svg {
    font-size: 20px;
  }

  &.start {
    left: -12.5px;
  }

  &.end {
    right: -12.5px;
  }
}

@media (max-width: 700px) {
  .timeslot {
    height: 100%;
    width: 60%;
    min-height: 0;
    bottom: initial;
    right: 20px;
    left: auto;
    top: -1px;
  }

  .resize-handle {
    left: calc(50% - 12.5px);

    svg {
      transform: rotate(90deg);
    }

    &.start {
      left: calc(50% - 12.5px);
      top: -12.5px;
    }

    &.end {
      top: auto;
      bottom: -12.5px;
      right: auto;
    }
  }
}
